.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
    border: 3px;
    border-style: solid;
    border-color: blue;
}

.id {}

.title {
    font-weight: bold;
}

.price {}

.picture {
    height: 30vh
}